engine-strict=true
# This file is used to configure npm settings for the project.
# It enforces strict engine compatibility with the `engine-strict=true` setting.
# Additional configurations can be added here to customize npm behavior.

# # Configuration for private npm registry
# registry=https://your-private-registry-url/
# always-auth=true
# //your-private-registry-url/:_authToken=your-auth-token