# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Version control
.git
.gitignore

# IDE
.vscode
.idea

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem 

styled-system